@import "reset";
@font-face {
    font-family: "Cortex";
    src: url("Cortex.TTF");
}

$clr-accent: hsl(0, 90%, 60%);
$clr-body-500: hsl(0, 0%, 80%);
$clr-background-400: hsl(0, 0%, 30%);
$clr-background-600: hsl(0, 0%, 20%);
$clr-background-800: hsl(0, 0%, 10%);

body {
    background-color: $clr-background-800;
    color:$clr-body-500;
    font-family:"Roboto", sans-serif;
}

nav {
    background-color: $clr-background-600;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem 2rem;
    position:relative;
    .button {
        font-size:2rem;
    }
}

main {
    padding:2rem;
    display:flex;
    flex-wrap:wrap;
    gap:3rem;
}

.starter {
    border:.25rem dashed $clr-background-600;
    border-radius:2rem;
    padding:4rem 5rem;
    margin:auto;
    user-select: none;
    text-align:center;
    h2 {
        font-size:1.75rem;
        font-weight:700;
    }
    i {
        font-size:2rem;
        position:relative;
        top:.3rem;
        margin-inline:.3rem;
    }
}

.button:hover {
    cursor:pointer;
    color:$clr-accent;
}

.trait-set {
    background-color: $clr-background-600;
    min-width:20rem;
    height:fit-content;
    border-radius:.5rem;
    padding:1rem;
    &-header {
        display:flex;
        gap:1rem;
        justify-content: space-between;
        border-bottom:1px solid $clr-background-800;
        line-height:1;
        h2 {
            text-transform:uppercase;
            font-weight:700;
            font-size:2rem;
        }
        .button-container {
            display:flex;
            gap:.5rem;
            font-size:1rem;    
            .fa-gears {
                display:none;
            }
        }
    }
    .traits li {
        display:flex;
        justify-content: space-between;
        gap:1rem;
        align-items:center;
        .close-button {
            display:none;
        }
        p {
            flex-grow:1;
            font-size:1.2rem;
            font-variant-caps:small-caps;
            border-bottom:1px solid $clr-background-600;
            transition: border-width 100ms;        
        }
        p:focus-visible,
        &:has(.close-button:hover) p {
            outline:none;
            border-color:$clr-accent;
            border-width:3px;
        }
        i {
            user-select: none;
        }
        .die-step, .die-scale {
            display:flex;
            justify-content: space-around;
            align-items:center;
            gap: .25rem;
            i {
                display:flex;
                justify-content: center;
                transition: opacity 100ms linear;
                opacity:.25;
                min-width:1.5rem;
                &.current,
                &:hover {
                    opacity:1;
                    cursor:pointer;
                }
            }
        }
        .die-step i:not(.current) {
            font-size:1.2rem;
        }
    }
    .new-trait-button {
        display:none;
        width:100%;
        background-color:$clr-background-800;
        color:$clr-body-500;
        text-align:center;
        border:none;
        i {
            font-size:1rem;
        }
        &:hover {
            background-color:$clr-background-600;
            cursor:pointer;
        }
    }
}

.trait-set:has(:nth-child(7)) {
    .traits {
        display:grid;
        grid-template-columns: auto auto;
        column-gap:3rem;
        li:nth-child(even) .close-button {
            border-top-left-radius:0;
            border-bottom-left-radius:0;
            border-top-right-radius:50%;
            border-bottom-right-radius:50%;
            left:auto;
            right:-2rem;
        }
    }
}

.trait-set:has([contenteditable="true"]) {
    background-color:$clr-background-800;
    border:2px solid $clr-background-600;
    padding:calc(1rem - 2px);
    .trait-set-header {
        border-color: $clr-body-500;
        .fa-gears {
            display:block;
        }
    }
    .traits {
        background-color:$clr-background-800;
        li {
            position:relative;
        }
        .close-button {
            content:'X';
            display:block;
            position:absolute;
            left:-2rem;
            font-size:.9rem;
            background-color:$clr-background-600;
            color:$clr-background-800;
            padding-inline:.25rem;
            border-top-left-radius:50%;
            border-bottom-left-radius:50%;
            &:hover {
                cursor:pointer;
                color:$clr-accent;
            }
        }
        i {
            position: relative;
            cursor:pointer;
        }
    }
    .new-trait-button {
        display:block;
    }
}

.cortex {
    font-family:"Cortex";
    font-size:2rem;
    color:$clr-accent;
}

.tmp-element {
    border:0;
    padding-left:2em;
    white-space: pre;
    font-variant-caps:small-caps;
    font-size:19.2px;
}

.die-selector {
    position:absolute;
    display:flex;
    gap:.75rem;
    top:0;
    padding-inline:.5rem;
    background-color:$clr-background-400;
    animation: fade .5s ease;
    z-index:1;
    i:hover {
        color:$clr-body-500;
        cursor:pointer;
    }
}

@keyframes fade {
    0%,
    40% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.start {
    &-d4 {
        left:-.5rem;
    }
    &-d6 {
        left:-3.25rem;
    }
    &-d8 {
        left:-6rem;
    }
    &-d10 {
        left:-8.75rem;
    }
    &-d12 {
        left:-11.5rem;
    }
}

#traitSetMenu {
    position:absolute;
    right:2rem;
    top:4rem;
    background-color:$clr-background-600;
    li {
        padding:.5rem 1rem;
        border-top:1px solid $clr-background-800;
        &:hover {
            background-color:$clr-background-400;
            cursor:pointer;
        }
    }
}



.options-panel {
    position:absolute;
    display:flex;
    flex-direction:column;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    max-width:700px;
    background-color:$clr-background-600;
    border-radius:.5rem;
    padding:2rem;
    div:has(h2) {
        display:flex;
        gap:1rem;
        border-bottom:1px solid $clr-body-500;
        align-items:center;
        transition:
            border-width .1s;
        h2 {
            text-transform:uppercase;
            font-weight:700;
            font-size:2rem;
        }
        &:has([contenteditable="true"]) {
            border-color:$clr-accent;
            border-width:3px;
            h2 {    
                border:none;
                outline:none;
                &::selection {
                    background-color:$clr-accent;
                    color:$clr-background-800;
                }
            }
        }
    }
    .options {
        display:grid;
        gap: 1.5rem;
        grid-template-columns: auto 1fr;
        border-left:1px solid $clr-body-500;
        border-right:1px solid $clr-body-500;
        padding:2rem 1rem;
    }
    .die-selector {
        position:static;
        width:min-content;
        background:none;
        animation: none;
        padding:0;
        align-self:start;
        line-height:1;
        cursor:pointer;
        .current {
            color:$clr-body-500;
        }
    }
    input {
        background:$clr-background-800;
        border:none;
        outline:none;
    }
    &-footer {
        flex-grow:1;
        align-items:end;
        border-top:1px solid $clr-body-500;
        padding-top:.5rem;
        display:flex;
        justify-content: space-between;
    }
    button {
        border:none;
        padding:.5rem;
        border-radius:.2rem;
        display:flex;
        gap:.5rem;
        line-height:1;
        cursor:pointer;
    }
    div:has(> label > [type="radio"]) {
        display:flex;
        justify-content:space-between;
        gap:2rem;
        label {
            display:flex;
            gap:1rem;
            padding:.5rem 1rem;
            &:hover {
                background-color:$clr-background-400;
            }
        }
    }
    .delete-button {
        background-color:$clr-accent;
        color: $clr-background-800;
    }
    .save-button {
        background-color:$clr-body-500;
        color: $clr-background-800;
    }
}

.darkened-background {
    content:'';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:$clr-background-800;
    opacity:.9;
}